#### Pyspark Basic Introduction

In [4]:
%pip install pyspark
%pip install pandas

Requirement already satisfied: pyspark in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Collecting pandas
  Downloading pandas-1.4.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 138.0 MB/s eta 0:00:00a 0:00:01
Collecting numpy>=1.18.5
  Downloading numpy-1.23.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 128.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 500.6/500.6 kB 102.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.2 pandas-1.4.3 pytz-2022.2.1

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pyspark
from pyspark.sql.functions import col

In [14]:
import pandas as pd
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

Picked up JAVA_TOOL_OPTIONS:  -Xmx3489m
Picked up JAVA_TOOL_OPTIONS:  -Xmx3489m

22/08/20 13:14:01 WARN Utils: Your hostname, fks-pysparkwithpytho-3gd4u2ltamo resolves to a loopback address: 127.0.0.1; using 10.0.5.2 instead (on interface ceth0)
22/08/20 13:14:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/20 13:14:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
spark

In [25]:
df=spark.read.option('header','true').csv('test1.csv')
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [26]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [38]:
df.where(col("age") == "21").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Harsha| 21|         1| 15000|
+------+---+----------+------+

In [45]:
df3=spark.read.option('header','true').csv('test3.csv')
df3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [52]:
df.createOrReplaceTempView("Employee")
df3.createOrReplaceTempView("Department")
spark.sql("select * from Employee E\
    join Department D \
    where E.Name=D.Name") \
.show()

+---------+---+----------+------+---------+------------+------+
|     Name|age|Experience|Salary|     Name| Departments|salary|
+---------+---+----------+------+---------+------------+------+
|    Krish| 31|        10| 30000|    Krish|Data Science| 10000|
|    Krish| 31|        10| 30000|    Krish|         IOT|  5000|
|    Krish| 31|        10| 30000|    Krish|    Big Data|  4000|
|Sudhanshu| 30|         8| 25000|Sudhanshu|Data Science| 20000|
|Sudhanshu| 30|         8| 25000|Sudhanshu|         IOT| 10000|
|Sudhanshu| 30|         8| 25000|Sudhanshu|    Big Data|  5000|
|    Sunny| 29|         4| 20000|    Sunny|Data Science| 10000|
|    Sunny| 29|         4| 20000|    Sunny|    Big Data|  2000|
+---------+---+----------+------+---------+------------+------+